@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
   background-color: rgb(247, 243, 237);
   font-family: 'poppins';
}
.animated-text{
   width: 100%;
   height: 60px;
   background-color: rgb(73, 3, 73);
}
.animation{
   animation-name: animate;
   animation-duration: 30s;
   animation-timing-function: ease-in;
   animation-direction: reverse;
   animation-delay: 0.8s;
   animation-iteration-count: infinite;
   color: white;
   padding-top: 15px;
   font-size: 20px;
   font-family: DM Sans;
   font-weight: 700;
}
@keyframes animate {
   from{
       transform: translateX(-900px);
   }
   to{
       transform: translateX(0);
   }
}
.nav-menu{
   position: sticky;
    margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 0px;
   width: 100%;
   background-color: white;
}
.logo img{
    width: 250px;
    margin-left: 60PX;
}
.nav-items{
   list-style: none;
   display: flex;
   padding-left: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.nav-items li a{
   text-decoration: none;
   font-size: 18px;
   font-weight: bold ;
   color: black;
}
.nav-items li a:hover{
   color: orange;
   transition: 0.5;
}
.nav-items li{
   padding-right: 50px;
}
.but1{
   width: 140px;
   height: 55px;
   border-radius: 30px;
   background-color: rgb(225, 177, 89);
   font-size: 15px;
   border: none;
   margin-right: 50px;
   font-weight: bold;
}
.but1:hover{
   color:white ;
   background-color: rgb(89, 3, 89);
   border:none;
}
.but1 a{
   color: black;
}
.but1:hover a{
   color: white;
}
.fa-arrow-right{
   margin-left: 5px ;
}
.dropdown-toggle::after{
   content: '';
   font-size: 0.em;
}
.dropdown-menu{
   display: none;
   position: absolute;
   background-color: gray;
   min-width: 160px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
   margin-top: 0px;
   padding: 0;
}
.dropdown-menu li{
   list-style: none;
}
.dropdown-menu li a{
   padding: 8px 8px;
   text-decoration: none;
   display: block;
   color: white;
   transition: background-color 0.3s;
}
.dropdown-menu li a:hover{
   background-color: #575757;
}
/* show dropdown on hover */
.menu-item:hover .dropdown-menu{
   display: block;
}
.section1{
    background-image:linear-gradient(rgba(14, 0, 52, 0.5), rgba(14, 0, 52, 0.5)),url(page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.secto{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.secto h1{
    font-size: 90px ;
}
.secto p{
    font-size: 40px;
    color: rgb(225, 177, 89);
}
.secto a{
    text-decoration: none;
    color:  white;
}
.sectionA{
    width: 70%;
    margin: auto;
    margin-bottom:100px ;
}
.sectionA h3{
    text-align: center;
    margin-top: 100px;
}
.sectionA h2{
    text-align: center;
    font-size: 60px;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.gril-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;

}
.sub-grid{
    background-color: white;
    padding: 30px;
    font-size: 20px;
}
.jug{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.secton{
    background-color: rgb(89, 3, 89); 
 }
 .grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    width: 70%;
    margin: auto;
    line-height: 40px;
    font-size: 18px;
    color: white;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
 }
 .grid-section h3{
    font-size: 25px;
    margin-bottom: 20px;
 }
 .grid-flex{
    display: flex;
    gap: 150px;
 }
 .grid-section li, a{
    list-style: none;
    text-decoration: none;
    color: white;
    
 }
 .cool{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
 }
 .input input{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .input input::placeholder {
    color: black;
    font-size: 16px;
    padding-left: 20px;
 }
 .set{
    display: flex;
    justify-content: space-between;
    width: 70%; 
    margin: auto;
    color: white;
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
 }
 .yeah{
    display: flex;
    gap: 50px;
 }